<!DOCTYPE html>
  <html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title>Burning Airlines</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>
<body>
  <header id="mainnav" class="navbar navbar-default mainnav">
    <div class="container">
      <div class="row">
        <!-- logo -->
        <div class="col-xs-12 col-sm-2 logo logo-image">
          <%= image_tag 'logo.png', :class => 'logo-img' %>
        </div>
        <!--  end logo -->
        <nav class="col-xs-12 col-sm-5 nav-menu ">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Home', root_path %></li>
          <% if @current_user.present? %>
                <li><%= link_to "Log Out #{ @current_user.name}", login_path, :method => :delete %></li>
                <li><%= link_to 'Search', search_path %></li>
              <% if @current_user.admin? %>
              <li><%= link_to "Flights", flights_path %></li>
              <li><%= link_to "Planes", planes_path %></li>

              <% end %>

          <% else %>
            <li><%= link_to "Sign Up", new_user_path %></li>
          <% end %>
          </ul>
        </nav>
        <!-- end nav -->
        <div class="col-xs-12 col-sm-5 login">
            <% unless @current_user.present? %>
            <%= form_tag '/login' do %>
            <%= text_field_tag :name,  nil, :autofocus =>true, placeholder: "username" %>
            <%= password_field_tag :password %>
            <%= submit_tag 'login' %>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </header>

<div class="container">
  <%= yield %>
</div>
</body>
</html>
