<div class="container">
    <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @plane.name %>
  </p>

  <p>
    <strong>Row:</strong>
    <%= @plane.row %>
  </p>

  <p>
    <strong>Column:</strong>
    <%= @plane.column %>
  </p>
  <!-- <div><div></div><%(@plane.row).times do |row|%>
  <div><%= row+1 %></div>
  <% end %>
</div>
    <%(@plane.column).times do |col|%>
      <div>
          <%#(((1..(@plane.row))).to_a).each do |n|%>
            <%#= n %>
          <%#end%>
        <div><%= col+1 %></div>
        <%(@plane.row).times do |row|%>
          <div class="planeSeats">

            <%#(((1..(@plane.column))).to_a).each do |n|%>
              <%#= n %>
            <%#end%>
          </div>
        <%end%>
      </div>
    <%end%> -->

  <table>
<tr><td></td><%(@plane.row).times do |row|%>
<td><%= row+1 %></td>
<% end %>
</tr>
  <%(@plane.column).times do |col|%>
    <tr>
        <%#(((1..(@plane.row))).to_a).each do |n|%>
          <%#= n %>
        <%#end%>
      <td><%=(('A'..'Z').to_a)[col] %></td>
      <%(@plane.row).times do |row|%>
        <td class="planeSeats">
          <%#(((1..(@plane.column))).to_a).each do |n|%>
            <%#= n %>
          <%#end%>
        </td>
      <%end%>
    </tr>
  <%end%>
  </table>

  <%= link_to 'Edit', edit_plane_path(@plane) %> |
  <%= link_to 'Back', planes_path %>
</div>
