    <div class="legends">
        <input id="legAvailable" type="checkbox" disabled />
        <label for="legAvailable"> Available</label>
        <input id="legAvailable" type="checkbox" data-status="notavailable" disabled />
        <label for="legAvailable"> Not Available</label>
        <input id="legBooked" type="checkbox" data-status="booked" checked disabled />
        <label for="legBooked"> Booked</label>
        <input id="legBooked" type="checkbox" checked disabled />
        <label for="legBooked"> Selected</label>
    </div>

    <div id="seats">

    </div>

<div class="container">
    <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @plane.name %>
  </p>

  <p>
    <strong>Row:</strong>
    <%= @plane.row %>
  </p>

  <p>
    <strong>Column:</strong>
    <%= @plane.column %>
  </p>


  <table>
<tr><td></td><%(@plane.row).times do |row|%>
<td><%= row+1 %></td>
<% end %>
</tr>
  <%(@plane.column).times do |col|%>
    <tr>
        <%#(((1..(@plane.row))).to_a).each do |n|%>
          <%#= n %>
        <%#end%>
      <td><%=(('A'..'Z').to_a)[col] %></td>
      <%(@plane.row).times do |row|%>
        <td class="planeSeats">
          <%#(((1..(@plane.column))).to_a).each do |n|%>
            <%#= n %>
          <%#end%>
        </td>
      <%end%>
    </tr>
  <%end%>
  </table>

  <%= link_to 'Edit', edit_plane_path(@plane) %> |
  <%= link_to 'Back', planes_path %>
</div>
