<div class="container sign-form form">
  <div class="col-xs-4 col-md-offset-3">
    <hgroup>
      <h1>Sign Up</h1>
  </hgroup>
  <% if @user.errors.any? %>
    <ol>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ol>
  <% end %>
<%= form_for @user do |f| %>
    <div class="group">
      <%= f.text_field :name, :autofocus => true, :required => true %>
      <span class="highlight"></span><span class="bar"></span>
      <%= f.label :name %>
    </div>
    <div class="group">
      <%= f.password_field :password, :required => true  %>
      <span class="highlight"></span><span class="bar"></span>
      <%= f.label :password %>
    </div>
    <%= f.submit "Sign Up", :class =>'submit' %>
<% end %>
  </div>
</div>
